@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }

    .navbar img {
        display: block;
    }

    .navbar .container {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: block;
        
    }

    .navbar ul {
        display: block;
        margin: 20px;
    }

    
}